body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.footer, 
.content-dark,
.header {
    background-color: #1F2937;
    color:white;
    width: 100%;
    box-sizing: border-box;
}

.header h2 {
    font-size: 24px;
    color:#f9faf8;
}

.header li {
    font-size: 18px;
    color: #e5e7eb;
    list-style-type: none;
}

.header a {
    text-decoration: none;
    color: #e5e7eb;
}

.content-info h4 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0px;
}

.cards h4 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    padding: 10px;
}

button, .cta {
    background-color: #3882f6;
    color:#f9faf8;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.header {
    display:flex;
    justify-content: space-between;
}

.header ul {
    display:flex;
    justify-content: space-evenly;
    gap:16px;
}

.footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

.content-dark {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
    gap: 100px;
}

.hero-img {
    width: 800px;
    height: 300px;
    background-color: #e5e7eb;
}

body > * {
    padding: 0px 200px;
}

.content-info {
    display: flex;
    flex-direction: column;
}

button {
    display: flex;
    padding: 6px 24px;
    align-self: flex-start;
    border-radius: 8px;
}

.content-info p {
    color: #e5e7eb;
}